starRating:not(old){
  display        : inline-block;
  width          : 7.5em;
  height         : 1.5em;
  overflow       : hidden;
  vertical-align : bottom;
}

.starRating:not(old) > input{
  margin-right : -100%;
  opacity      : 0;
}

.starRating:not(old) > label{
  display: block;
  float           : right;
  position        : relative;
  background      : url('star-off.svg');
  background-size : contain;
  height: 20px;
  cursor: pointer;
  overflow: hidden;
}

.starRating:not(old) > label:before{
  content         : '';
  display         : block;
  width           : 1.5em;
  height          : 1.5em;
  background      : url('star-on.svg');
  background-size : contain;
  opacity         : 0;
  transition      : opacity 0.2s linear;
}

.starRating:not(old) > label:hover:before,
.starRating:not(old) > label:hover ~ label:before,
.starRating:not(:hover) > :checked ~ label:before{
  opacity : 1;
}

/* Ratings  */
body.author .mfp-container {
    width: 60%;
}
.mfp-auto-cursor .mfp-content {
    background: #fff;
    padding: 20px;
    height: 85%;
    margin-top: 80px;
}
body.author a.review_form{}
body.author #submit_review{}
body.author #submit_review .mfp-content{}
body.author #submit_review .mfp-close{}
body.author #submit_review h3{}
body.author #submit_review .single_ratings{
    display: block;
    float: left;
    width: 100%;
    overflow: hidden;
    margin-bottom: 5px;
    border-bottom: 1px solid green;
}
body.author #submit_review .single_ratings p{
    margin-bottom: 0;
}
body.author #submit_review span.single_rating_title{}
body.author #submit_review span.starRating{}
body.author #submit_review .single_ratings input.text{}
body.author #submit_review .single_ratings textarea#cmnt{
    width: 100% !important;
    height: 67px !important;
}
body.author #submit_review .single_ratings .success_massage{}
.msg{
    width: 90%;
    height: 40px;
    overflow: hidden;
}
.msg p.error_massage{
    height: 100%;
    width: 100%;
    margin: 0;
    border: 2px solid red;
    font-size: 18px;
    color: red;
    border-radius: 5px;
    background: rgba(255,0,0,.2);
    display: block;
    float: left;
    padding: 5px 10px;
}
.msg p.success_massage{
    height: 100%;
    width: 100%;
    margin: 0;
    border: 2px solid green;
    font-size: 18px;
    color: green;
    border-radius: 5px;
    background: rgba(0,128,0,.2);
    display: block;
    float: left;
    padding: 5px 10px;
}

/* Ratings CSS */
body.author .show_rating{
    width: 100%;
    float: left;
    overflow: hidden;
}
body.author .show_rating h5{
    float: left;
    width: auto;
    margin-right: 20px;
    text-transform: none;
    font-size: 26px;
    color: green;
}
body.author .show_rating h6{
    float: left;
    margin-left: 20px;
    font-size: 26px;
    color: green;
}
body.author .show_rating i{
    float: left;
    font-size: 26px;
    margin-top: 10px;
    color: green;
}


body.page .show_avg_rating{
    width: 100%;
    float: left;
    overflow: hidden;
}
body.page .show_avg_rating i{
    float: left;
    font-size: 16px;
    margin-top: 10px;
    color: green;
    margin-bottom: 15px;
}

/* Extra Ratings Box */
.extra_reviews{
    float: left;
    width: 100%;
    overflow: hidden;
}
.extra_reviews .single_extra_rating{}
.extra_reviews .single_extra_rating p.rating_title{
    text-align: center;
    margin: 5px;
}
.extra_reviews .single_extra_rating p.rating_nums{}
.extra_reviews .single_extra_rating p.rating_stars{
    text-align: center;
    color: green;
    margin: 0;
}
.extra_reviews .single_extra_rating p.rating_stars span.rating_nums{
    margin-left: 15px;
    color: green;
}
.extra_reviews .first_three_cols{
    float: left;
    overflow: hidden;
    width: 100%;
    border: 1px solid #7F7B7B;
}
.extra_reviews .first_three_cols .single_extra_rating{
    float: left;
    width: 33.33%;
    border-right: 1px solid;
    padding: 10px 0;
}
.extra_reviews .first_three_cols .single_extra_rating:last-child{
  border-right: none;
}
.extra_reviews .first_three_cols .single_extra_rating p.rating_title{}
.extra_reviews .first_three_cols .single_extra_rating p.rating_nums{}
.extra_reviews .first_three_cols .single_extra_rating p.rating_stars{}
.extra_reviews .last_two_cols{
    float: none;
    width: 66%;
    margin: 0 auto;
    overflow: hidden;
    border: 1px solid #7F7B7B;
    border-top: 0;
}
.extra_reviews .last_two_cols .single_extra_rating{
    float: left;
    width: 50%;
    border-right: 1px solid;
    padding: 10px 0;
}
.extra_reviews .last_two_cols .single_extra_rating:last-child{
  border-right: none;
}
.extra_reviews .last_two_cols .single_extra_rating p.rating_title{}
.extra_reviews .last_two_cols .single_extra_rating p.rating_nums{}
.extra_reviews .last_two_cols .single_extra_rating p.rating_stars{}