/* BEGIN css */
#bp-klein-top-bar{background: #3F4042;}
#footer {background: #555555;}
div#klein-search-container2 input {
    height: 24px !important;
    margin: 0;
    padding: 0 0 2px 10px;
    border-radius:14px !important;
    line-height:24px;
    top: 0;
    font-size: small;
}

.ui-dialog {z-index: 9999}
.zm_alr_form_field_container label {display: none;}
.ui-dialog-titlebar {background: #FFFEFE;border-bottom: 0;}
.ui-dialog .ui-dialog-content {background: #fff;}
label[for=zm_alr_login_keep_me_logged_in]{display:block;}
.modal-dialog {
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    position: absolute;
}

.ui-dialog {
    width:300px !important;
    text-align:center !important;
    top: 50% !important;
    left: 50% !important;
    transform:translate(-50%, -50%);
}

	
div#ajax-login-register-dialog { width: 100% !important;}

select, textarea, input[type=text], input[type=password], input[type=date], input[type=datetime], input[type=datetime-local], input[type=month], input[type=time], input[type=email], input[type=number], input[type=range], input[type=search], input[type=tel], input[type=url], input[type=week] {
    padding: 8px 12px;
    display: inline-block;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 0 !important;
    border: 1px solid #bdc3c7;
    outline: 0;
    margin-bottom: 0px !important;
    height: 30px !important;
    display: block;
    width: 100%;
    max-width: 100%;
    -webkit-transition: border .25s linear,color .25s linear,background-color .25s linear;
    transition: border .25s linear,color .25s linear,background-color .25s linear;
    background: #FFF;
    -webkit-box-shadow: inset 0px 0px 14px -6px #7F8C8D;
    -moz-box-shadow: inset 0px 0px 14px -6px #7F8C8D;
    box-shadow: inset 0px 0px 14px -6px #7F8C8D;
}

.zm_alr_form_container input[type="submit"] {width:100% !important;}

.ui-dialog-titlebar-close:before {
    font: 400 20px/1 dashicons;
    vertical-align: top;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 16px !important;
    width: 18px !important;
    height: 18px !important;
    content: '\f158';
}

.ui-dialog-titlebar-close {
    float: right;
    width: 27px !important;
    height: 27px !important;
    text-align: center !important;
    padding: 0px !important;
}

.ui-dialog-titlebar-close {
    float: right;
    width: 27px !important;
    height: 27px !important;
    text-align: center !important;
    padding: 0px !important;
    margin-top: -5px !important;
}
/* END css */
