/*
Theme Name: Klein Child Theme
Theme URI: http://demo.dunhakdis.me/wordpress-themes/klein/
Author: Dunhakdis
Author URI: http://themeforest.net/user/dunhakdis
Description: Klein is an innovative WordPress theme built to support BuddyPress, bbPress, and WooComerce out of the box. Perfect for website that interacts with number of users. Let your members create profile, send message, add connection, or share what's happening in their life.  Collaborate through forums or sell any products you want. 
Version: 3.0
License: Envato License
Template: klein
License URI: license.txt
Tags: custom-header, custom-background, threaded-comments, sticky-post, translation-ready, microformats, rtl-language-support, editor-style, custom-menu
*/

/**
 * Style CSS
 *
 * @package Klein
 * @since version 1.0
 */
@import url("../klein/style.css");
 /**
  * Add you css below, they won't be overwritten when you update.
  */
  
.pull-right {
    float: none !important;
}

.desktop-menu ul.menu.desktop li {
    margin-left: 31px;
}

#bp-klein-top-bar #bp-klein-user-bar-action {
    margin-top: 39px;
}

#bps_shortcode2675 > div.editfield.field_1.field_name > label{display:none;}

#bps_shortcode2675 > div.submit{display:none;}

form#search-members-form label:before, form#search-groups-form label:before {
    
    top: -2px;
    padding-left: 5px;
    
}
#members-order-by {
    
    padding: 3px;
}

#menu-main-menu li {
    display: inline-block !important;
    float: none;
    margin: 0px;
    padding: 0 5px 0 5px;
}
ul#menu-main-menu {
    text-align: center;
}

.site-branding{width:77%;}
.desktop-menu ul.menu.desktop li ul{left: -57px;}


/************************
    Custom CSS HRR
*************************/
